{% extends 'authenticate/base.html' %}
{% block content %}
<div class="main-container d-flex">
  <!--<div class="sidebar" id="sidebar">
    <div class="header-box">
      <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2 m">CL</span>Coding League</h1>
    </div>

  </div>-->
  <div class="content">
    {% if user.is_authenticated %}
    <p>Name: {{ user.first_name }} {{ user.last_name}}</p>
    <p>Username: {{ user.username}}</p>
    <p>eMail: {{ user.email}}</p>

    {% endif %}
  </div>
</div>
{% endblock content %}