<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=" viewport " content="width=device-width, initial-scale=1.0 ">
    <title>EZ-Cover Letter Wizard</title>
    <link rel="stylesheet" href="/mysite/authenticate/templates/authenticate/style.css";>
    <script type="text/javascript" src="./app.js">
        defer
    </script>
</head>

<body>
    <div id="container">
        <div id="container1">
            <div id="templatesearchheading">
                <h1>Templates - Vitae 2</h1>
            </div>

            <div id="templatesearch">
                <h2>Search Templates</h2>
            </div>

            <div id="templates" draggable="false">
                <P class="draggable" draggable="true">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit consequuntur quam quibusdam explicabo iure. Consequatur, cupiditate ratione, delectus, provident omnis id minima esse numquam nam similique sed incidunt amet pariatur.</P>
                <P class="draggable" draggable="true">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit consequuntur quam quibusdam explicabo iure. Consequatur, cupiditate ratione, delectus, provident omnis id minima esse numquam nam similique sed incidunt amet pariatur.</P>
                <p class="draggable" draggable="true">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptate placeat ducimus sed quae doloribus asperiores, aperiam tempore dolorum soluta quasi optio quia earum a facere numquam? Cupiditate, quae iusto?
                </p>
                <p class="draggable" draggable="true">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptate placeat ducimus sed quae doloribus asperiores, aperiam tempore dolorum soluta quasi optio quia earum a facere numquam? Cupiditate, quae iusto?
                </p>
                <p class="draggable" draggable="true">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptate placeat ducimus sed quae doloribus asperiores, aperiam tempore dolorum soluta quasi optio quia earum a facere numquam? Cupiditate, quae iusto?
                </p>
                <p class="draggable" draggable="true">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptate placeat ducimus sed quae doloribus asperiores, aperiam tempore dolorum soluta quasi optio quia earum a facere numquam? Cupiditate, quae iusto?
                </p>
                <P class="draggable" draggable="true">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit consequuntur quam quibusdam explicabo iure. Consequatur, cupiditate ratione, delectus, provident omnis id minima esse numquam nam similique sed incidunt amet pariatur.</P>
            </div>


            <div id="letterbodyheading">
                <h2>Letter Body</h2>
                <h3> Drag and drop template and Paragraphs here </h3>
            </div>

            <div id="letterbody">
                <button onclick="Export2Doc('letterbody','test');">Export to MS Word</button>
            </div>
        </div>
        <!-- Container1-->

        <div id="container2">
            <div id="inputfieldsheading">
                <h1>Input Fields</h1>
            </div>
            <div id="inputfields">

                <p class="draggable" draggable="true">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quasi optio error dolore ratione ut quaerat excepturi recusandae quos vitae voluptas illum blanditiis sapiente, laudantium dolorem debitis sunt. Tempore, explicabo?</p>
                <P class="draggable" draggable="true">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit consequuntur quam quibusdam explicabo iure. Consequatur, cupiditate ratione, delectus, provident omnis id minima esse numquam nam similique sed incidunt amet pariatur.</P>
            </div>
            <div id="blankfieldsheading">
                <h1>Blank Fields</h1>
            </div>
            <div id="blankfields">

                <p class="draggable" draggable="true">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque neque quis ad ex fugiat cum, nam aut, voluptatum corporis, iusto sequi totam? Cum minima consequatur, veniam debitis nemo amet distinctio.</p>
                <P class="draggable" draggable="true">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit consequuntur quam quibusdam explicabo iure. Consequatur, cupiditate ratione, delectus, provident omnis id minima esse numquam nam similique sed incidunt amet pariatur.</P>
                <P class="draggable" draggable="true">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit consequuntur quam quibusdam explicabo iure. Consequatur, cupiditate ratione, delectus, provident omnis id minima esse numquam nam similique sed incidunt amet pariatur.</P>
            </div>

            <div id="precompletedfieldsheading">
                <h1>Pre Completed Fields</h1>
            </div>

            <div id="precompletedfields">
                <p class="draggable" draggable="true">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem officiis saepe odit, perspiciatis sapiente voluptate est quis hic. Molestiae voluptatum sint ex et omnis corrupti laudantium magni explicabo illum suscipit!</p>
                <P class="draggable" draggable="true">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit consequuntur quam quibusdam explicabo iure. Consequatur, cupiditate ratione, delectus, provident omnis id minima esse numquam nam similique sed incidunt amet pariatur.</P>
                <P class="draggable" draggable="true">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit consequuntur quam quibusdam explicabo iure. Consequatur, cupiditate ratione, delectus, provident omnis id minima esse numquam nam similique sed incidunt amet pariatur.</P>
                <P class="draggable" draggable="true">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit consequuntur quam quibusdam explicabo iure. Consequatur, cupiditate ratione, delectus, provident omnis id minima esse numquam nam similique sed incidunt amet pariatur.</P>
                <P class="draggable" draggable="true">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit consequuntur quam quibusdam explicabo iure. Consequatur, cupiditate ratione, delectus, provident omnis id minima esse numquam nam similique sed incidunt amet pariatur.</P>
            </div>

        </div>
        <!--Container2-->
    </div>
    <!--Container-->
</body>

</html>