{% extends 'authenticate/base.html' %}

{% block content %}

<h1> Registration Page</h1>

<form method="POST" action="{% url 'register' %}">
    {% csrf_token %}

    {% if form.errors %}
        <p>Your form has errors</p>        
    {% endif %}

    {{ form.as_p }}

    <!--<input type = "text" name = "username" placeholder = "Username" />
    <input type = "password" name = "password" placeholder = "Password" />
    <input type = "password" name = "password2" placeholder = "Repeat Password" />-->

    <input type="submit" value="Register" class="btn btn-primary" />
</form>

    
{% endblock %}